.search-container {
  
  align-items:center;

  margin-bottom: 2em;
  width: 100%;
}
.search-container from {
  width: 50%;
}

.search-container input {
  padding: 0.5em;
  margin-left: 4%;
  width:90%;
  text-align: center;
  font-family: 'Poor Story', cursive;
  font-size: 18px;
}