/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
.container {
  min-height: 80vh;
  max-width: 100vh;
  margin: 0px auto;
  margin-top: 5vh;
}
body {
  background-image: linear-gradient(
    45deg,
    red 5%,
    #F8CEC6 55%
  )
}
footer {
  width:14rem;
  margin: 15px auto;
}
